.container {
	width: 800px;
}

body {
	background: #eeeeee;
}

header {
	padding-top: 20px;
}

header img {
	padding: 1em;
}

footer {
	text-align: center;
	margin-top: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}

section {
	color: #000000;
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #dddddd;
	-moz-border-radius: 10px;
}

section h1 {
	font-size: 200%;
}



/*   LINKS   */

a {
	color: #0099cc;
	text-decoration: none;
}

a:hover {
	color: #006699;
	text-decoration: underline;
}

a:visited {
	color: #006699;
}



/*   NAVIGATION   */

nav {
	float: right;
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #0099cc;
}

nav ul li a:hover {
	text-decoration: underline;
}



/*     SIGN-UP BUTTON    */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 250px;
	color: #1111DD;
	background: #EEBF52;
	font-size: 180%;
	font-weight: bold;
	padding: 20px;
	-moz-border-radius: 20px;
	-moz-box-shadow: 0 0 5px black;
}



/*    ROUNDED CORNERS    */

.roundsm {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.roundlg {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}



/*     USER SHOW PAGE     */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffffcc;
}

.profile img.gravatar {
	border: 1px solid #999999;
	margin-bottom: -15px;
}


