<h1>Welcome to twittah!</h1>
<p>The incredible social networking/communications application with no real purpose whatsoever!</p>
<p>LIMITED TIME SPECIAL! -= Only $329.99 per day! =- LIMITED TIME SPECIAL!</p>

<%= link_to "SIGN UP NOW!!", signup_path, :class=>"signup_button roundlg" %>
